.hero {
    width: 100%;
    max-width: 111rem;
    margin: 3rem auto;

    @media only screen and (min-width:755px) {
        display: flex;
        margin: 0 auto;
    }

    &__main {
        width: 100%;
        margin-bottom: 6rem;

        @media only screen and (min-width:755px) {
            flex: 1;
            margin-right: 3rem;
        }

        &-img {
            width: 100%;
        }

        &-content {
            @media only screen and (min-width:755px) {
                display: flex;
                margin-top: 2rem;
            }

        }

        &-heading {
            font-weight: 800;
            font-size: 4rem;
            color: $dark-blue;
            margin: 2rem 0;

            @media only screen and (min-width:755px) {
                margin-top: 0;
                // font-size: 5.6rem;
            }
        }

        &-preview {
            @media only screen and (min-width:755px) {
                display: flex;
                flex-direction: column;
                align-items: start;
            }
        }

        &-text {
            font-size: 1.5rem;
            line-height: 2.6rem;
            color: $dark-grayish-blue;
            margin-bottom: 2rem;
        }
    }

    &__new-stories {
        background-color: $dark-blue;
        padding: 2rem;

        @media only screen and (min-width:755px) {
            flex: 0 0 30%;
        }

    }
}

.section-header {
    font-size: 3.2rem;
    font-weight: 700;
    color: $soft-orange;
}