.btn{
    text-decoration: none;
    font-size: 1.4rem;
    line-height: 2.4rem;
    text-transform: uppercase;
    font-weight: 700;
    padding:1rem 3rem;
    letter-spacing: 4.38px;
    transition: all .3s;


    &:link,&:visited{
        color:$off-white;
        background-color: $soft-red;
    }

    &:hover{
        background-color: $dark-blue;
    }

}