.new-story{
    padding:3rem 0;
    &__title{
        color: $off-white;
        font-size:2rem;
        line-height: 2.4rem;
        transition: all .3s;

        &:hover{
            cursor: pointer;
            color:$soft-orange;
        }
    }

    &__text{
        font-size:1.5rem;
        line-height: 2.6rem;
        color:$grayish-blue;
    }
    &:not(:last-child){
        border-bottom:1px solid $grayish-blue;
    }
}