.story {
    margin: 5rem 0;
    width: 100%;
    display: flex;
    align-items: center;

    &__img {
        width: 25%;

        @media only screen and (min-width:755px) {
            width: 30%;
        }
    }


    &__content {
        margin-left: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 1;
    }

    &__num {
        font-size: 3.2rem;
        font-weight: 700;
        color: $grayish-blue;
        // margin-bottom: 1rem;
    }

    &__title {
        font-size: 1.8rem;
        line-height: 2.4rem;
        font-weight: 800;
        color: $dark-blue;
        margin: .5rem 0;
        transition: all .3s;

        &:hover {
            cursor: pointer;
            color: $soft-red;
        }
    }

    &__text {
        font-size: 1.5rem;
        line-height: 2.6rem;
        color: $dark-grayish-blue;
        margin-bottom: 0;
    }
}